@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the help desk!</h1>
    <p>There is more to come, but this will be where users can submit tickets for any technical reason for our systems.</p>
</div>
