@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<center>
    <div class="wrap-login100">
        <div class="login100-form">
            <h4 class="login100-form-title">Login</h4>
            <form id="account" class="login100-form" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="input100" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="input100" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button type="submit" class="login100-form-btn">Log in</button>
                    <hr/>
                    <p>
                        <a id="forgot-password" class="txt1" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</center>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
